Thumbs.db
.DS_Store
*.log

/wp-config.php
/.htaccess
/.htpasswd
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php
/wp-admin/*
/wp-content/*
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/yukemHP
/wp-content/themes/my-theme/css/.sass-cache/*
/wp-includes/*