/* テキストエディタに適用するCSS */
@charset "UTF-8";
/* 変数で管理（情報量が少ないため現状は不要） */
:root{
  --f1:1.8rem;
}
/* ゴシック体 */
body,
.editor-post-title__input{
  font-family: sans-serif;
}
/* h1のフォントサイズ */
h1{
  font-size: var(--f1);
}
/* 編集画面の幅を調整 （デフォルトの幅が580+30なので見やすくしている）*/
/* funtions.phpで有効化した「全幅・幅広」がwp-blockでオーバーライドされる為、この2パターンは除外する。
Wordpressではこの上書きが「data-align="full"、data-align="wide"で行われている為、以下のような記述になる */
.wp-block:not([data-align="full"]):not([data-align="wide"]){
  max-width:calc(720px+30px);
}