@charset "UTF-8";
// アニメーション関連→animation/共通パーツ→mixin
@import "animation", "mixin";
// 共通ヘッダーをmixinで管理
// =========================
@include header;
// =========================


// ■■■■■■■■   ■■■■    ■■■■■
//    ■      ■■   ■■  ■    ■
//    ■     ■■     ■  ■    ■
//    ■     ■      ■■ ■    ■
//    ■     ■      ■■ ■■■■■
//    ■     ■      ■■ ■
//    ■     ■■     ■  ■
//    ■      ■■   ■■  ■
//    ■       ■■■■    ■

// メインビュー
.fixed {
  height: 171px;
}
.fv-box {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 171px;
  background-color: #000;
}
.fv-bg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  img {
    object-fit: cover;
    height: 171px;
  }
}
.fv-bg:nth-of-type(2) {
  animation-delay: 10s;
}
.fv-bg {
  animation-name: anime;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-duration: 15s; /* ①で設定したanimation-delayを合計を挿入 */
}
@keyframes anime {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
video {
  object-fit: cover;
  height: 171px;
  width: 100%;
  overflow: hidden;
}
main {
  // mv
  // =========================
  .mv-pc {
    background: linear-gradient(180deg, #f2f2f2 0%, #f2f2f2 50%, #434343 0%, #434343 100%);
    height: 680px;
    h1 {
      font-size: 200px;
      line-height: 0.9em;
      font-weight: bold;
      color: black;
      margin-left: 5px;
      margin-top: 68px;
      span {
        color: white;
      }
    }
    p {
      font-size: 16px;
      color: white;
      margin-top: 56px;
      margin-left: 16px;
      padding-right: 24px;
      display: inline-block;
    }
    @media screen and (max-width: 768px) {
      background: linear-gradient(180deg, #f2f2f2 0%, #f2f2f2 15%, #434343 0%, #434343 100%);
      height: 1012px;
      h1 {
        width: 100%;
        font-size: 9.6rem;
        margin-top: 0;
      }
    }
  }
  .container {
    margin: 0 auto;
    width: 960px;
  }
  .mv-left {
    float: left;
    padding-right: 60px;
    img {
      width: 80px;
      height: 80px;
      vertical-align: bottom;
    }
  }
  @media screen and (max-width: 768px) {
    .mv-pc {
      width: 100%;
      p {
        margin-top: 16px;
        margin-right: 15px;
        padding: 0;
        text-align: justify;
        text-justify: inter-ideograph;
      }
    }
    .container {
      width: 100%;
    }
    .mv-left {
      float: none;
      padding-top: 46px;
      margin-left: 46px;
      .wrapper {
        position: relative;
        img {
          margin-bottom: 6px;
          position: absolute;
          right: 0;
          bottom: -85px;
          width: 70px;
          height: 70px;
        }
      }
    }
  }
  .mv-right {
    float: right;
    margin-top: 56px;
    text-align: right;
    .wrapper {
      margin-top: 40px;
    }
    .mv01 {
      overflow: hidden;
      a {
        img {
          vertical-align: top;
          width: 290px;
          height: 165px;
          object-fit: cover;
          @include zoom;
        }
      }
    }
    .btn {
      a {
        position: relative;
        top: 0;
        margin-top: 8px;
        text-align: center;
        display: inline-block;
        background-color: #0db900;
        padding: 16px 5px;
        width: 160px;
        font-size: 18px;
        color: white;
        text-decoration: none;
        i {
          padding-left: 12px;
        }
        &:hover {
          top: -3px;
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
          transition: all 0.3s;
        }
        &:active {
          top: 0;
          box-shadow: none;
          transition: all 0s;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .mv-right {
      float: none;
      text-align: center;
      margin-top: 112px;
      .wrapper {
        text-align: center;
        .mv01 {
          margin: 0 30px;
          img {
            width: 100%;
          }
        }
        .btn {
          padding: 0 30px;
          a {
            position: relative;
            top: 0;
            margin: 8px 0 0 0;
            text-align: center;
            display: inline-block;
            background-color: #0db900;
            padding: 16px 0;
            width: 100%;
            font-size: 18px;
            color: white;
            text-decoration: none;
            i {
              padding-left: 12px;
            }
            &:hover {
              top: -3px;
              box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
              transition: all 0.3s;
            }
            &:active {
              top: 0;
              box-shadow: none;
              transition: all 0s;
            }
          }
        }
      }
    }
  }
  // 共通メインコンテンツ（ブログ、問い合わせ）をmixin管理
  // =========================
  @include contents;
  @media screen and (max-width: 768px) {
    .new-blog {
      overflow: hidden;
      padding-left: 16px;
      padding-top: 42px;
      padding-bottom: 72px;
      border-bottom: solid 64px black;
      h2 {
        font-size: 4.2rem;
        span {
          font-size: 2rem;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .under {
    position: absolute;
    top: 78px;
  }
}
// ■■■■■   ■■■■■     ■■■■    ■■■■■■ ■■  ■      ■■■■■■
// ■    ■  ■    ■   ■■   ■■  ■      ■■  ■      ■
// ■    ■  ■    ■■ ■■     ■  ■      ■■  ■      ■
// ■    ■  ■    ■  ■      ■■ ■      ■■  ■      ■
// ■■■■■   ■■■■■   ■      ■■ ■■■■■■ ■■  ■      ■■■■■■
// ■       ■   ■   ■      ■■ ■      ■■  ■      ■
// ■       ■    ■  ■■     ■  ■      ■■  ■      ■
// ■       ■    ■■  ■■   ■■  ■      ■■  ■      ■
// ■       ■     ■   ■■■■    ■      ■   ■■■■■■ ■■■■■■
.profile-mv-pc {
  .top {
    color: white;
    background-image: url(../img/profile-mv.jpg);
    background-size: cover;
    background-position: center;
    height: 520px;
    h1 {
      padding-top: 64px;
      width: 100%;
      text-align: center;
      font-size: 20rem;
      line-height: 0.9em;
      margin: 0 auto;
    }
  }
  .bottom {
    background-color: black;
    height: 480px;
    .container {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
    }
    p {
      font-size: 1.6rem;
      color: white;
    }
    .appeal {
      float: left;
    }
    .text02 {
      margin-top: 8px;
    }
    .icon {
      width: 80px;
      height: 80px;
      margin-left: 30px;
    }
    .photo {
      width: 384px;
      height: 278px;
    }
  }
  @media screen and (max-width: 768px) {
    .top {
      color: white;
      height: 240px;
      background-image: url(../img/profile-mv-sp.jpg);
      h1 {
        padding-top: 24px;
        padding-left: 15px;
        font-size: 9.6rem;
        text-align: left;
      }
    }
    .bottom {
      height: 780px;
      .container {
        display: flex;
        flex-direction: column-reverse;
        .text01 {
          display: flex;
          padding: 30px 15px 0 15px;
          .appeal {
            float: left;
            text-align: justify;
            text-justify: inter-ideograph;

            width: 100%;
          }
          .icon {
            float: right;
            margin-left: 15px;
          }
        }
        .text02 {
          padding: 15px 15px;
          p {
            width: 100%;
          }
        }
        .photo {
          width: 100%;
          height: 250;
          object-fit: cover;
          object-position: top;
          padding: 0 15px;
        }
      }
    }
  }
}
.p-list {
  border-bottom: solid 1px black;
  position: relative;
  height: 1720px;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 842px;
    height: 1633px;
    z-index: -100;
    background-color: #f2f2f2;
  }
  .youtube {
    display: flex;
    margin: 0 auto;
    padding-top: 106px;
    width: 90%;
  }
  .youtube-left {
    width: 60%;
  }
  .youtube-01 {
    position: relative;
    background-image: url(../img/youtube-01.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 520px;
  }
  .youtube-icon {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .youtube-right {
    background-color: #434343;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 520px;
    h2 {
      color: #434343;
      margin-bottom: 16px;
      font-size: 4.8rem;
      text-shadow: 1px 1px 0 white, -1px -1px 0 white, -1px 1px 0 white, 1px -1px 0 white, 0px 1px 0 white, -1px 0 white,
        -1px 0 0 white, 1px 0 0 white;
    }
    p {
      color: white;
      line-height: 1.8em;
      font-size: 1.6rem;
    }
    a {
      position: relative;
      top: 0;
      text-align: center;
      margin-top: 32px;
      display: inline-block;
      background-color: #0db900;
      padding: 16px 5px;
      width: 160px;
      font-size: 18px;
      color: white;
      text-decoration: none;
      i {
        padding-left: 12px;
      }
      &:hover {
        top: -3px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
        transition: all 0.3s;
      }
      &:active {
        top: 0;
        box-shadow: none;
        transition: all 0s;
      }
    }
  }
  @media screen and (max-width: 768px) {
    height: 100%;
    padding-bottom: 30px;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 150px;
      height: 1633px;
      z-index: -100;
      background-color: #f2f2f2;
    }
    .youtube {
      flex-direction: column;
      padding-top: 60px;
      .youtube-left {
        width: 100%;
        .youtube-01 {
          height: 186px;
          .youtube-icon {
            width: 220px;
            top: 35%;
          }
        }
      }
      .youtube-right {
        width: 100%;
        height: 420px;
        padding-bottom: 8px;
        a {
          width: 100%;
        }
      }
    }
  }
  .wrapper {
    margin-top: 100px;
    display: flex;
    .contents-left {
      .list-single {
        margin-bottom: 56px;
      }
      h2 {
        font-size: 3.2rem;
        border-bottom: solid 1px black;
        display: inline-block;
        margin-bottom: 8px;
      }
      span {
        color: white;
        font-size: 4.8rem;
        font-weight: bolder;
        text-shadow: 1px 1px 0 black, -1px -1px 0 black, -1px 1px 0 black, 1px -1px 0 black, 0px 1px 0 black,
          -1px 0 black, -1px 0 0 black, 1px 0 0 black;
      }
      img {
        width: 72px;
        padding-left: 32px;
      }
      p {
        font-size: 1.6rem;
        padding-top: 8px;
        line-height: 2em;
      }
    }
  }
  .swiper {
    padding-bottom: 32px;
    margin-left: 60px;
    width: 425px;
    height: 658px;

    .swiper-pagination {
      text-align: right;
      width: -100px;
      --swiper-pagination-color: #0db900; //ここに変更する色を指定
    }
    .swiper-pagination-bullet {
      transition: all 0.8s;
      width: 10px;
      height: 10px;
    }
    .swiper-pagination-bullet-active {
      width: 13px;
      height: 13px;
    }
    .swiper-button-next,
    .swiper-button-prev {
      --swiper-navigation-color: #ff2911; //ここに変更する色を指定
      font-size: 1px;
    }
    .swiper-slide {
      background-color: #0db900;
    }
  }
  @media screen and (max-width: 768px) {
    .wrapper {
      margin-top: 0;
      flex-direction: column-reverse;
      .contents-right {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 80px;
          left: 0;
          width: 80%;
          height: 150px;
          z-index: -100;
          background-color: #0db900;
        }
      }
      .contents-left {
        margin-top: -80px;
        padding: 0 15px;
        .list-single {
          margin-bottom: 32px;
        }
      }
    }
    .swiper {
      margin: 50px 15px 0 auto;
      width: 197px;
      height: 290px;
      img {
        object-fit: cover;
        object-position: 0 -25px;
        width: 100%;
        height: 258px;
      }
    }
  }
  @include contents;
}
// ■■■■■     ■■■■    ■■■■■  ■■■■■■■■ ■■■■■■   ■■■■    ■      ■■    ■■■■
// ■    ■   ■■   ■■  ■    ■    ■     ■       ■■   ■■  ■      ■■   ■■   ■■
// ■    ■  ■■     ■  ■    ■■   ■     ■      ■■     ■  ■      ■■  ■■     ■
// ■    ■  ■      ■■ ■    ■    ■     ■      ■      ■■ ■      ■■  ■      ■■
// ■■■■■   ■      ■■ ■■■■■     ■     ■■■■■■ ■      ■■ ■      ■■  ■      ■■
// ■       ■      ■■ ■   ■     ■     ■      ■      ■■ ■      ■■  ■      ■■
// ■       ■■     ■  ■    ■    ■     ■      ■■     ■  ■      ■■  ■■     ■
// ■        ■■   ■■  ■    ■■   ■     ■       ■■   ■■  ■      ■■   ■■   ■■
// ■         ■■■■    ■     ■   ■     ■        ■■■■    ■■■■■■ ■     ■■■■
// ※（yukemu.page制作ページ）※
.portfolio-mv-pc {
  .top {
    color: white;
    background-image: url(../img/portfolio-mv.jpg);
    background-size: cover;
    background-position: center;
    height: 520px;
    h1 {
      text-align: center;
      padding-top: 64px;
      width: 100%;
      font-size: 200px;
      line-height: 0.9em;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 768px) {
    .top {
      color: white;
      height: 240px;
      background-image: url(../img/portfolio-mv-sp.jpg);
      h1 {
        text-align: left;
        padding-top: 24px;
        padding-left: 15px;
        font-size: 9.6rem;
      }
    }
  }
  .bottom {
    .container {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
    }
    background-color: black;
    height: 350px;
    p {
      font-size: 1.6rem;
      color: white;
    }
    .text02 {
      padding-right: 72px;
      padding-top: 16px;
    }
    .appeal-portfolio {
      font-size: 4.8rem;
      float: left;
      font-weight: bolder;
    }
    .text02 {
      margin-top: 8px;
    }
    .icon {
      width: 80px;
      margin-left: 30px;
    }
    .photo {
      float: right;
      width: 384px;
      height: 278px;
    }
    @media screen and (max-width: 768px) {
      height: 590px;
      .container {
        flex-direction: column-reverse;
        padding: 30px 15px 0 15px;
        width: 100%;
        .photo {
          width: 100%;
          object-fit: cover;
        }
        .wrapper {
          .text01 {
            padding-top: 30px;
            display: flex;
            align-items: center;
            p {
              font-size: 2.8rem;
            }
            img {
              vertical-align: bottom;
              margin-left: 5%;
            }
          }
          .text02 {
            width: 100%;
            padding-right: 0;
          }
        }
        .youtube-left {
          width: 100%;
          .youtube-01 {
            height: 186px;
            .youtube-icon {
              width: 220px;
              top: 35%;
            }
          }
        }
        .youtube-right {
          width: 100%;
          height: 420px;
          padding-bottom: 8px;
          a {
            width: 100%;
          }
        }
      }
    }
  }
}
.p-flow {
  background-color: #f2f2f2;
  padding: 32px 0 80px;
  .container {
    width: 880px;
    padding-left: 12px;
  }
  .heading {
    position: relative;
    display: flex;
    p {
      color: #f2f2f2;
      position: absolute;
      bottom: 24px;
      right: 0;
      font-size: 4.8rem;
      font-weight: bolder;
      text-shadow: 1px 1px 0 black, -1px -1px 0 #0db900, -1px 1px 0 #0db900, 1px -1px 0 #0db900, 0px 1px 0 #0db900,
        -1px 0 #0db900, -1px 0 0 #0db900, 1px 0 0 #0db900;
    }
  }
  #line {
    &::before {
      content: "";
      position: absolute;
      top: 80px;
      left: -55px;
      background-color: #0db900;
      width: 1px;
      height: 700px;
      border-radius: 50%;
      transition: all 0.5s;
    }
  }
  #line-stn {
    &::before {
      content: "";
      position: absolute;
      top: 80px;
      left: -55px;
      background-color: black;
      width: 1px;
      height: 700px;
      border-radius: 50%;
      transition: all 0.5s;
    }
  }
  #now {
    &::before {
      content: "";
      position: absolute;
      top: 80px;
      left: -80px;
      background-color: #0db900;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      transition: all 0.5s;
    }
  }
  #stn {
    &::before {
      content: "";
      position: absolute;
      top: 80px;
      left: -80px;
      background-color: black;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      transition: all 0.5s;
    }
  }
  img {
    margin: 32px 0 32px;
    width: 100%;
  }
  p {
    font-size: 1.6rem;
  }
  h2 {
    height: 189px;
    display: inline-block;
    font-size: 6.4rem;
    border-bottom: solid 1px black;
    margin-bottom: 40px;

    span {
      padding-right: 24px;
      margin-top: 30px;
      vertical-align: -24px;
      color: #f2f2f2;
      font-size: 12.8rem;
      text-shadow: 1px 1px 0 black, -1px -1px 0 black, -1px 1px 0 black, 1px -1px 0 black, 0px 1px 0 black, -1px 0 black,
        -1px 0 0 black, 1px 0 0 black;
    }
  }
  @media screen and (max-width: 768px) {
    padding: 32px 0 40px;
    .container {
      width: 100%;
      padding: 0 15px 0 38px;
    }
    .heading {
      position: relative;
      display: flex;
      p {
        color: #f2f2f2;
        position: absolute;
        bottom: 5px;
        right: 0;
        font-size: 2.2rem;
        font-weight: bolder;
        text-shadow: 1px 1px 0 black, -1px -1px 0 #0db900, -1px 1px 0 #0db900, 1px -1px 0 #0db900, 0px 1px 0 #0db900,
          -1px 0 #0db900, -1px 0 0 #0db900, 1px 0 0 #0db900;
      }
    }
    #line {
      &::before {
        content: "";
        position: absolute;
        top: 40px;
        left: -35px;
        background-color: #0db900;
        width: 1px;
        height: 700px;
        border-radius: 50%;
        transition: all 0.5s;
      }
    }
    #line-stn {
      &::before {
        content: "";
        position: absolute;
        top: 40px;
        left: -35px;
        background-color: black;
        width: 1px;
        height: 700px;
        border-radius: 50%;
        transition: all 0.5s;
      }
    }
    #now {
      &::before {
        content: "";
        position: absolute;
        top: 40px;
        left: -50px;
        background-color: #0db900;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transition: all 0.5s;
      }
    }
    #stn {
      &::before {
        content: "";
        position: absolute;
        top: 40px;
        left: -50px;
        background-color: black;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transition: all 0.5s;
      }
    }
    img {
      margin-top: 16px;
    }
    p {
      font-size: 1.6rem;
    }
    h2 {
      height: 88px;
      display: inline-block;
      font-size: 2.9rem;
      border-bottom: solid 1px black;
      margin-bottom: 8px;

      span {
        padding-right: 8px;
        margin-top: 10px;
        vertical-align: -10px;
        color: #f2f2f2;
        font-size: 6rem;
        text-shadow: 1px 1px 0 black, -1px -1px 0 black, -1px 1px 0 black, 1px -1px 0 black, 0px 1px 0 black,
          -1px 0 black, -1px 0 0 black, 1px 0 0 black;
      }
    }
  }
}
// ■  ■     ■     ■    ■   ■■■ ■■■■■■■
// ■  ■     ■     ■    ■  ■       ■
// ■  ■     ■     ■    ■  ■       ■
// ■  ■     ■     ■    ■  ■■■     ■
// ■  ■     ■     ■    ■    ■■    ■
// ■  ■     ■     ■    ■      ■   ■
// ■  ■     ■     ■■   ■  ■   ■   ■
// ■  ■■■■■ ■■■■■  ■■■■   ■■■■    ■
.illustration-mv-pc {
  .top {
    color: white;
    background-image: url(../img/illustration-mv.jpg);
    background-size: cover;
    background-position: center;
    height: 520px;
    h1 {
      text-align: center;
      padding-top: 64px;
      width: 100%;
      font-size: 200px;
      line-height: 0.9em;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 768px) {
    .top {
      color: white;
      height: 240px;
      background-image: url(../img/illustration-mv-sp.jpg);
      h1 {
        text-align: left;
        padding-top: 24px;
        padding-left: 15px;
        font-size: 9.6rem;
      }
    }
  }
  .bottom {
    .container {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
    }
    background-color: black;
    height: 350px;
    p {
      font-size: 1.6rem;
      color: white;
    }
    .text02 {
      padding-right: 72px;
      padding-top: 16px;
    }
    .appeal-illustration {
      font-size: 4.8rem;
      float: left;
      font-weight: bolder;
    }
    .text02 {
      margin-top: 8px;
    }
    .icon {
      width: 80px;
      margin-left: 30px;
      border-radius: 50%;
    }
    .photo {
      float: right;
      width: 384px;
      height: 278px;
    }
    @media screen and (max-width: 768px) {
      height: 590px;
      .container {
        flex-direction: column-reverse;
        padding: 30px 15px 0 15px;
        width: 100%;
        .photo {
          width: 100%;
          object-fit: cover;
        }
        .wrapper {
          .text01 {
            padding-top: 30px;
            display: flex;
            align-items: center;
            p {
              font-size: 2.8rem;
            }
            img {
              vertical-align: bottom;
              margin-left: 5%;
            }
          }
          .text02 {
            width: 100%;
            padding-right: 0;
          }
        }
        .youtube-left {
          width: 100%;
          .youtube-01 {
            height: 186px;
            .youtube-icon {
              width: 220px;
              top: 35%;
            }
          }
        }
        .youtube-right {
          width: 100%;
          height: 420px;
          padding-bottom: 8px;
          a {
            width: 100%;
          }
        }
      }
    }
  }
}
.i-slide {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 960px;
  height: 743px;
  padding: 60px 0;
  @media screen and (max-width: 768px) {
    width: 100%;
    height: 740px;
    padding: 30px 0 0 0;
  }
}
.swiper-main {
  position: relative;
  overflow: hidden;
  width: 100%;

  .swiper-button {
    width: 100px;
    position: absolute;
    right: -9px;
    bottom: 199px;
    @media screen and (max-width: 768px) {
      right: -10px;
      bottom: 21px;
    }
    .swiper-button-prev {
      background-color: #0db801;
      width: 40px;
      height: 40px;
      &::after {
        position: absolute;
        right: 50;
        top: 50;
        bottom: 50;
        content: "<";
        padding: 3px;
        font-size: 30px;
        color: white;
      }
    }
    .swiper-button-next {
      background-color: #0db801;
      width: 40px;
      height: 40px;
      &::after {
        position: absolute;
        right: 50;
        top: 50;
        bottom: 50;
        content: ">";
        padding: 3px;
        font-size: 30px;
        color: white;
      }
    }
  }
  img {
    width: 959px;
    height: 580px;
    object-fit: cover;
    @media screen and (max-width: 768px) {
      width: 100%;
      height: 310px;
    }
  }
}
.swiper-thumb {
  position: absolute;
  bottom: 50px;
  width: 428px;
  padding-top: 50px;
  @media screen and (max-width: 768px) {
    padding-top: 0;
    width: 100%;
  }
  .swiper-wrapper {
    position: relative;
    .t {
      width: 100px;
    }
  }
  .s-text-wrapper {
    display: flex;
  }
  #s-active {
    display: block;
  }
  .slide-text {
    background-color: #f2f2f2;
    width: 482px;
    height: 227px;
    padding: 0 0 0 50px;
    display: none;
    animation: fade 0.3s ease-out;
    @media screen and (max-width: 768px) {
      position: absolute;
      left: 0;
      top: -231px;
      width: 100%;
      padding: 0;
    }
    @keyframes fade {
      0% {
        background-color: #0db801;
        transform: translateX(100%);
        opacity: 0;
      }
      50% {
        background-color: #0db801;
        opacity: 0.5;
      }
      100% {
        background-color: #f2f2f2;
        transform: translateX(0);
        opacity: 1;
      }
    }

    h2 {
      font-size: 32px;
      margin-top: 35px;
      @media screen and (max-width: 768px) {
        width: calc(100% - 30px);
        margin-left: 15px;
      }
    }
    p {
      margin-top: 24px;
      font-size: 16px;
      width: 430px;
      @media screen and (max-width: 768px) {
        margin-left: 15px;
        width: calc(100% - 30px);
      }
    }
  }
  img {
    object-fit: cover;
    width: 116px;
    height: 116px;
    cursor: pointer;
  }
  .swiper-slide {
    padding: 112px 0 0 0;
    opacity: 0.5;
    overflow: hidden;
    &.swiper-slide-thumb-active {
      opacity: 1;
    }
    @media screen and (max-width: 768px) {
      padding: 0 0 0 0;
      text-align: center;
    }
  }
}
.i-flow {
  .container {
    width: 100%;
  }
  .illustration-single {
    position: relative;
    padding: 16px 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    &::before {
      display: block;
      content: "";
      width: 420px;
      order: 1;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    &::after {
      display: block;
      content: "";
      width: 420px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    & > img {
      cursor: pointer;
      object-fit: cover;
      width: 420px;
      height: 420px;
      margin-top: 32px;
      margin-right: 15px;
      margin-left: 15px;
      @media screen and (max-width: 768px) {
        width: 80%;
        height: 80%;
        margin-right: 15px;
        margin-left: 15px;
      }
      &:hover {
        border: #0db801 6px solid;
        transition: all 0.3s;
      }
    }
    .mask {
      background: rgba(0, 0, 0, 0.6);
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 10;
      cursor: pointer;
    }
    .i-content {
      // opacity: 0;
      // visibility: hidden;
      display: block;
      position: fixed;
      z-index: 11;
      top: 70px;
      left: 50%;
      transform: translateX(-50%);
      color: #000;
      background: #fff;
      text-align: center;
      width: 960px;
      height: 80vh;
      overflow-y: scroll;
      @media screen and (max-width: 768px) {
        width: 100%;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        padding: 30px 60px 0 60px;
        @media screen and (max-width: 768px) {
          width: 100%;
          height: 100%;
          padding: 80px 15px 30px 15px;
          object-fit: cover;
          object-position: top;
        }
      }
      p {
        font-size: 16px;
        padding-top: 16px;
        padding-bottom: 60px;
        margin: 0 auto;
        width: 600px;
        text-align: left;
        @media screen and (max-width: 768px) {
          padding: 0 15px 60px;
          width: 100%;
        }
      }
      .close {
        color: #0db801;
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 32px;
        font-size: 60px;
        cursor: pointer;
      }
    }
    .pagination {
      width: 1000px;
      height: 20px;
      font-size: 20px;
    }
    .i-hidden {
      display: none;
    }
    .i-hidden-modal {
      display: none;
    }
  }
}
// ■■■■■■   ■■■■■■■■ ■■■■■
// ■    ■■     ■     ■    ■
// ■     ■■    ■     ■    ■
// ■      ■    ■     ■    ■
// ■      ■    ■     ■■■■■
// ■      ■    ■     ■
// ■     ■■    ■     ■
// ■    ■■     ■     ■
// ■■■■■■      ■     ■
.dtp-mv-pc {
  .top {
    color: white;
    background-image: url(../img/dtp-mv.jpg);
    background-size: cover;
    background-position: center;
    height: 520px;
    h1 {
      text-align: center;
      padding-top: 160px;
      width: 100%;
      font-size: 200px;
      line-height: 0.9em;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 768px) {
    .top {
      color: white;
      height: 240px;
      background-image: url(../img/dtp-mv-sp.jpg);
      h1 {
        text-align: left;
        padding-top: 64px;
        padding-left: 15px;
        font-size: 9.6rem;
      }
    }
  }
  .bottom {
    .container {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
    }
    background-color: black;
    height: 350px;
    p {
      font-size: 1.6rem;
      color: white;
    }
    .text02 {
      padding-right: 72px;
      padding-top: 16px;
    }
    .appeal-illustration {
      font-size: 4.8rem;
      float: left;
      font-weight: bolder;
    }
    .text02 {
      margin-top: 8px;
    }
    .icon {
      width: 80px;
      margin-left: 30px;
      border-radius: 50%;
    }
    .photo {
      float: right;
      width: 384px;
      height: 278px;
    }
    @media screen and (max-width: 768px) {
      height: 590px;
      .container {
        flex-direction: column-reverse;
        padding: 30px 15px 0 15px;
        width: 100%;
        .photo {
          width: 100%;
          object-fit: cover;
        }
        .wrapper {
          .text01 {
            padding-top: 30px;
            display: flex;
            align-items: center;
            p {
              font-size: 2.8rem;
            }
            img {
              vertical-align: bottom;
              margin-left: 5%;
            }
          }
          .text02 {
            width: 100%;
            padding-right: 0;
          }
        }
      }
    }
  }
}
//【PC】DTPページの動画部分
.movie-dtp {
  margin: 0 auto;
  width: 959px;
  .pc{
    margin: 0 auto;
    width:100%;
    height: 580px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    object-fit: cover;
  }
  .sp{
    display: none;
  }
}
//【SP】DTPページの動画部分
@media screen and (max-width: 768px) {
  .movie-dtp{
    width:100%;
    .pc{
      display: none;
    }
    .sp{
      display: block;
      width:100%;
      height:100%;
      object-fit: cover;
    }
  }
}
// ■■   ■■    ■ ■■■■■■  ■■■■■
// ■■   ■■   ■■ ■       ■    ■
//  ■   ■■   ■  ■       ■    ■
//  ■   ■■■  ■  ■       ■    ■
//  ■■ ■  ■ ■■  ■■■■■■  ■■■■■
//   ■ ■  ■ ■   ■       ■    ■
//   ■■■  ■■■   ■       ■    ■■
//   ■■    ■■   ■       ■    ■■
//    ■    ■    ■■■■■■  ■■■■■■

.web-mv-pc {
  .top {
    color: white;
    background-image: url(../img/web-mv.jpg);
    background-size: cover;
    background-position: center;
    height: 520px;
    h1 {
      text-align: center;
      padding-top: 160px;
      width: 100%;
      font-size: 200px;
      line-height: 0.9em;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 768px) {
    .top {
      color: white;
      height: 240px;
      background-image: url(../img/web-mv-sp.jpg);
      h1 {
        text-align: left;
        padding-top: 64px;
        padding-left: 15px;
        font-size: 9.6rem;
      }
    }
  }
  .bottom {
    .container {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
    }
    background-color: black;
    height: 350px;
    p {
      font-size: 1.6rem;
      color: white;
    }
    .text02 {
      padding-right: 72px;
      padding-top: 16px;
    }
    .appeal-illustration {
      font-size: 4.8rem;
      float: left;
      font-weight: bolder;
    }
    .text02 {
      margin-top: 8px;
    }
    .icon {
      width: 80px;
      margin-left: 30px;
      border-radius: 50%;
    }
    .photo {
      float: right;
      width: 384px;
      height: 278px;
    }
    @media screen and (max-width: 768px) {
      height: 590px;
      .container {
        flex-direction: column-reverse;
        padding: 30px 15px 0 15px;
        width: 100%;
        .photo {
          width: 100%;
          object-fit: cover;
        }
        .wrapper {
          .text01 {
            padding-top: 30px;
            display: flex;
            align-items: center;
            p {
              font-size: 2.8rem;
            }
            img {
              vertical-align: bottom;
              margin-left: 5%;
            }
          }
          .text02 {
            width: 100%;
            padding-right: 0;
          }
        }
      }
    }
  }
}
.wire-web{
  margin: 0 auto;
  width: 100%;
  text-align: center;
  img{
    padding-top: 30px;
    width:959px;
    height:580px;
    object-fit: cover;   
    object-position: top;
  }
}
@media screen and (max-width: 768px) {
  .wire-web{
    img{
      width:100%;
      height:310px;
    }
  }
}
//     ■
//    ■■      ■■■■■ ■■■■■■■■ ■■ ■■     ■ ■■ ■■■■■■■■ ■■  ■■■■■■   ■■■■
//    ■■     ■■   ■    ■     ■■  ■    ■■ ■■    ■     ■■  ■       ■   ■■
//   ■■ ■   ■■         ■     ■■  ■    ■  ■■    ■     ■■  ■       ■
//   ■  ■   ■          ■     ■■  ■■   ■  ■■    ■     ■■  ■       ■■■
//   ■  ■■  ■          ■     ■■   ■  ■■  ■■    ■     ■■  ■■■■■■    ■■■
//  ■■■■■■  ■          ■     ■■   ■  ■   ■■    ■     ■■  ■           ■■
//  ■    ■  ■■         ■     ■■   ■■ ■   ■■    ■     ■■  ■            ■
// ■■    ■■  ■■   ■    ■     ■■    ■■    ■■    ■     ■■  ■       ■   ■■
// ■      ■   ■■■■     ■     ■     ■■    ■     ■     ■   ■■■■■■   ■■■■
.activities-mv-pc {
  .top {
    color: white;
    background-image: url(../img/activities-mv.jpg);
    height: 520px;
    object-fit: cover;
    h1 {
      text-align: center;
      padding-top: 64px;
      width: 960px;
      font-size: 200px;
      line-height: 0.9em;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 768px) {
    .top {
      color: white;
      width: 100%;
      background-size: cover;
      height: 240px;
      background-image: url(../img/activities-mv-sp.jpg);
      h1 {
        text-align: left;
        width: 375px;
        padding-top: 24px;
        padding-left: 15px;
        font-size: 9.6rem;
      }
    }
  }
  .bottom {
    background-color: black;
    height: 350px;
    .container {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
    }
    p {
      font-size: 1.6rem;
      color: white;
    }
    .text02 {
      padding-right: 72px;
      padding-top: 16px;
    }
    .appeal-portfolio {
      font-size: 4.8rem;
      float: left;
      font-weight: bolder;
    }
    .text02 {
      margin-top: 8px;
    }
    .icon {
      width: 80px;
      margin-left: 30px;
    }
    .photo {
      float: right;
      width: 384px;
      height: 278px;
    }
    iframe {
      padding-top: 24px;
      width: 100%;
    }
    @media screen and (max-width: 768px) {
      padding: 0 15px;
      height: 580px;
      .container {
        flex-direction: column-reverse;
      }
      .text02 {
        width: 100%;
        padding: 0;
      }
      iframe {
        padding: 0;
        width: 100%;
        height: 230px;
        margin-bottom: 15px;
      }
      @include btn($width: 100%);
    }
  }
  @include btn;
}
.p-contents {
  padding: 48px 0 114px;
  background-color: #f2f2f2;
  h2 {
    width: 960px;
    margin: 0 auto;
    font-size: 5.6rem;
  }
  .right {
    text-align: right;
    margin-top: 48px;
  }
  img {
    // overflow: hidden;
    height: 30px;
    width: 100%;
    object-fit: cover;
    vertical-align: top;
  }
  .wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    .slide-show {
      z-index: 20;
      list-style: none;
      display: flex;
      animation: loop-slide 20s infinite linear 1s both;
      .content {
        width: 275px;
        height: 156px;
        margin: 0 8px;
        .youtube {
          width: 275px;
          height: 156px;
          img {
            width: 275px;
            height: 156px;
          }
          iframe {
            width: 275px;
            height: 156px;
          }
        }
        &:nth-child(1) {
          background-color: #000000;
        }
        &:nth-child(2) {
          background-color: #000000;
        }
        &:nth-child(3) {
          background-color: #000000;
        }
        &:nth-child(4) {
          background-color: #000000;
        }
        &:nth-child(5) {
          background-color: #000000;
        }
        &:nth-child(6) {
          background-color: #000000;
        }
        &:nth-child(7) {
          background-color: #000000;
        }
      }
    }
  }
  .slide-paused:hover .slide-show {
    animation-play-state: paused;
  }
  .content-hover:hover {
    box-shadow: 0 3px 10px 0 #333;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.2s;
  }
  @keyframes loop-slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translate(-100%);
    }
  }
  @media screen and (max-width: 768px) {
    padding: 48px 0 80px;
    h2 {
      padding: 0 15px;
      width: 100%;
      margin: 0 auto;
      font-size: 3.8rem;
    }
  }
}
// ■■■■■    ■        ■■■■      ■■■■■
// ■    ■   ■       ■■   ■■   ■■   ■
// ■    ■   ■      ■■     ■  ■■
// ■    ■   ■      ■      ■■ ■
// ■■■■■    ■      ■      ■■ ■    ■■■
// ■    ■   ■      ■      ■■ ■      ■
// ■    ■■  ■      ■■     ■  ■■     ■
// ■    ■■  ■       ■■   ■■   ■■   ■■
// ■■■■■■   ■■■■■■   ■■■■      ■■■■■

.blog-mv-pc {
  .top {
    color: white;
    background-image: url(../img/blog-mv.jpg);
    height: 520px;
    object-fit: cover;
    h1 {
      width: 960px;
      font-size: 200px;
      line-height: 520px;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 768px) {
    .top {
      color: white;
      height: 240px;
      background-image: url(../img/blog-mv-sp.jpg);
      background-size: cover;
      h1 {
        width: 100%;
        line-height: 220px;
        padding-left: 15px;
        font-size: 9.6rem;
      }
    }
  }
  .bottom {
    .container {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
    }
    background-color: black;
    height: 143px;
    p {
      font-size: 1.6rem;
      color: white;
    }
    .text02 {
      padding-right: 72px;
      padding-top: 16px;
    }
    .appeal-portfolio {
      font-size: 4.8rem;
      float: left;
      font-weight: bolder;
    }
    .text02 {
      margin-top: 8px;
    }
    .icon {
      margin-left: 30px;
      width: 80px;
    }
    .photo {
      float: right;
      width: 384px;
      height: 278px;
    }
    iframe {
      padding-top: 24px;
      width: 100%;
    }

    .search-box {
      display: flex;
      align-items: center;
      position: relative;
      width: 620px;
      font-size: 1.5rem;
      margin: auto 0;
      background-color: white;
      height: 60px;
      .search {
        display: inline-block;
        position: relative;
        &::after {
          content: url(../img/chevron.png);
          pointer-events: none;
          position: absolute;
          right: 24px;
          top: 32%;
          transform: scale(0.03);
          display: inline-block;
          width: 10px;
          height: 10px;
        }
        select {
          position: relative;
          height: 60px;
          margin: auto 0;
          font-size: 1.5rem;
          background-color: white;
          cursor: pointer;
          padding: 0 40px 0 16px;
          option {
            font-size: 1.3rem;
            padding: 8px 0;
          }
        }
      }
      form {
        input {
          border-left: solid 1px black;
          padding-left: 16px;
          padding-right: 140px;
          font-size: 1.5rem;
          margin: auto 0;
          background-color: white;
          height: 40px;
        }
      }
      i {
        position: absolute;
        top: 16px;
        right: 24px;
        font-size: 24px;
        color: #0db801;
        vertical-align: -2px;
        text-align: right;
      }
    }

    @media screen and (max-width: 768px) {
      height: 340px;
      .container {
        padding: 32px 15px 0 15px;
        flex-direction: column;
        .wrapper {
          padding-bottom: 32px;
          p {
            line-height: 80px;
            font-size: 2.8rem;
          }
        }
        .search-box {
          height: 144px;
          background-color: #000;
          width: 100%;
          display: flex;
          flex-direction: column-reverse;
          .search {
            margin-top: 24px;
            width: 100%;
            &::after {
              right: 38px;
            }
            select {
              width: 100%;
            }
          }
          form {
            height: 60px;
            width: 100%;
            input {
              display: block;
              width: 100%;
              padding-left: 24px;
              border-left: none;
              height: 60px;
              margin: 0;
            }
          }
          i {
            position: absolute;
            top: 18px;
            right: 24px;
            font-size: 24px;
            color: #0db801;
            vertical-align: 18px;
            text-align: right;
          }
        }
      }
    }
  }
}
.blog-list {
  @include btn($b-color: white, $t-color: #0db801);
  .btn-blog {
    text-align: center;
    padding: 0;
    a {
      border: solid #0db801 1px;
      width: 340px;
      padding: 14px 83px;
      margin-top: 0px;
    }
  }
  .pagination {
    text-align: center;
    width: 960px;
    margin: 0 auto;
    p {
      margin: 0 8px;
      display: inline-block;
      width: 56px;
      height: 56px;
      background-color: #0db801;
      color: white;
      font-size: 1.8rem;
      line-height: 56px;
    }
    .fast {
      width: 106px;
    }
    .last {
      width: 106px;
    }
  }
  .container {
    width: 960px;
    margin: 80px auto 32px;
    display: flex;
    justify-content: space-between;
    .article {
      padding-right: 16px;
      .col-full {
        font-weight: bold;
        font-size: 1.8rem;
        padding: 8px;
        border: solid 8px #0db801;
        border-radius: 10px;
      }
      .inner {
        border-bottom: solid 1px #aaaaaa;
        padding-bottom: 32px;
        margin-bottom: 32px;
        .single {
          display: flex;
        }
      }
      .text {
        padding: 0 16px;
        .sub {
          font-size: 1.2rem;
          padding-bottom: 8px;
          margin-bottom: 8px;
          span {
            background-color: black;
            padding: 0 8px;
            color: white;
            margin-left: 8px;
          }
        }
        h2 {
          font-size: 1.8rem;
          margin-bottom: 6px;
        }
        p {
          font-size: 1.6rem;
        }
      }
    }
    .aside {
      width: 261px;
      box-shadow: 0 0 16px rgb(247, 247, 247);
      height: 100%;
      p {
        position: relative;
        font-size: 1.3rem;
        padding: 8px 0;
        margin: 32px 0;
        display: block;
        cursor: pointer;
        border-bottom: solid 1px #aaaaaa;
        &::after {
          position: absolute;
          content: ">";
          color: #aaaaaa;
          right: 0;
          width: 10px;
          height: 10px;
          transform: scale(1.2);
        }
      }
      .wrapper {
        padding: 26px 20px;
      }
      .aside-category {
        @include aside(#0db801);
        width: 220px;
      }
      .aside-twitter {
        margin-top: 48px;
        margin-bottom: 16px;
        @include aside(#1d9ceb);
      }
    }
  }
  .info {
    position: relative;
    padding-top: 40px;
    width: 960px;
    margin: 0 auto;
    display: flex;
    .category {
      font-size: 1.5rem;
    }
    .category #text {
      font-size: 1.5rem;
      display: none;
    }
    .number {
      position: absolute;
      margin: 0 auto;
      top: 32px;
      right: 0;
      left: 0;
      width: 200px;
      text-align: center;
      font-size: 1.5rem;
      border: solid black 1px;
      padding: 6px 16px;
      span {
        color: #aaaaaa;
      }
    }
    .sel-category {
      margin-right: 16px;
      color: #0db801;
      border: solid #0db801 1px;
      padding: 6px 12px;
    }
  }
  @media screen and (max-width: 768px) {
    .pagination {
      width: 100%;
      p {
        margin: 0 4px;
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: #0db801;
        color: white;
        font-size: 1.5rem;
        line-height: 40px;
        &:nth-child(6) {
          display: none;
        }
        &:nth-child(7) {
          display: none;
        }
        &:nth-child(8) {
          display: none;
        }
        &:nth-child(9) {
          display: none;
        }
      }
      .fast {
        width: 64px;
      }
      .last {
        width: 64px;
      }
    }
    .container {
      margin-top: 64px;
      width: 100%;
      .article {
        padding: 0 15px;
        width: 100%;
        .inner {
          height: 100%;
          margin-bottom: 16px;
          padding-bottom: 16px;
          li {
            margin: 16px 8px 0 0;
          }
        }
        .single {
          margin-top: 0;
          height: auto;
          figure {
            width: auto;
          }
          img {
            width: 150px;
            height: 88px;
            float: left;
            object-fit: cover;
          }
        }
        .text {
          text-align: justify;
          text-justify: inter-ideograph;
          padding-right: 0;
          height: auto;
          width: 100%;
          .sub {
            margin: 0;
            padding: 0;
          }
          h2 {
            font-size: 1.4rem;
            margin-bottom: 6px;
          }
          p {
            font-size: 1.2rem;
          }
          .content {
            display: none;
          }
        }
      }
      .aside {
        display: none;
      }
    }
    .info {
      width: 100%;
    }
    .category {
      display: none;
    }
    .number {
      width: 100%;
    }
  }
}
//  ■■■■   ■■  ■■    ■■    ■■■■■   ■      ■■■■■■
// ■   ■■  ■■  ■■■   ■■   ■■   ■   ■      ■
// ■       ■■  ■ ■   ■■  ■■        ■      ■
// ■■■     ■■  ■  ■  ■■  ■         ■      ■
//   ■■■   ■■  ■  ■■ ■■  ■    ■■■  ■      ■■■■■■
//     ■■  ■■  ■   ■ ■■  ■      ■  ■      ■
//      ■  ■■  ■    ■■■  ■■     ■  ■      ■
// ■   ■■  ■■  ■    ■■■   ■■   ■■  ■      ■
//  ■■■■   ■   ■     ■■    ■■■■■   ■■■■■■ ■■■■■■
// ※style.cssで指定したスタイルをオーバーライドしています
// ※※※※※※※※※※※※※※※※※※※※※※※※※
// style.cssを併せて参照ください
// ※※※※※※※※※※※※※※※※※※※※※※※※※
.blog-single-mv-pc {
  .container {
    margin-top: 42px;
  }
}
.article-single {
  margin-right: 40px;
  h1 {
    font-size: 2.4rem;
    border-bottom: solid 1px #aaaaaa;
    padding-bottom: 12px;
    margin-bottom: 12px;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 12px;
  }
  p {
    margin-bottom: 12px;
    font-size: 1.6rem;
    text-align: justify;
    text-justify: inter-ideograph;
  }
  img {
    margin-bottom: 12px;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    .btn-single {
      text-align: center;
      padding: 0;
      a {
        border: solid #0db801 1px;
        width: 236px;
        padding: 14px 0;
        margin-top: 0px;
      }
    }
    .pre-nex {
      text-align: center;
      margin: 0 8px;
      display: inline-block;
      width: 56px;
      height: 56px;
      background-color: #0db801;
      color: white;
      font-size: 1.8rem;
      line-height: 56px;
    }
    .fast,
    .last {
      width: 106px;
      text-align: center;
      display: inline-block;
      height: 56px;
      background-color: #0db801;
      color: white;
      font-size: 1.8rem;
      line-height: 56px;
    }
  }
  .date {
    font-size: 1.2rem;
    margin-bottom: 32px;
    span {
      background-color: #000000;
      color: white;
      margin-left: 10px;
      padding: 0 8px;
    }
  }
}
@media screen and (max-width: 768px) {
  .blog-single-mv-pc {
    width: 100%;
    .blog-list {
      width: 100%;
      margin-top: 0;
      .container {
        margin-top: 0;
        padding: 0;
        width: 100%;
        .article-single {
          margin: 0;
          width: 100%;
          h1 {
            font-size: 2rem;
            margin-bottom: 12px;
          }
          h2 {
            font-size: 1.8rem;
            margin-bottom: 12px;
          }
          h3 {
            font-size: 1.8rem;
            margin-bottom: 12px;
          }
          p {
            font-size: 1.6rem;
            line-height: 1.8em;
            margin-bottom: 12px;
          }
          img {
            margin-bottom: 12px;
            width: 100%;
          }
        }
      }
    }
  }
}
.connection-blog {
  overflow: hidden;
  background-color: #f2f2f2;
  padding: 72px 0 72px 16px;
  margin-top: 80px;
  h2 {
    font-size: 5.6rem;
    margin-bottom: 32px;
    span {
      font-size: 3.2rem;
      font-weight: bolder;
      padding-left: 8px;
    }
  }
  .slider {
    margin: 0 auto;
    width: 960px;
    .left {
      transform: scaleX(-1);
    }
    i {
      padding: 4px;
      font-size: 40px;
      vertical-align: top;
      line-height: 156px;
      cursor: pointer;
    }
    ul {
      height: 156px;
    }
    li {
      display: inline-block;
      margin: 0 5px;
      .wrapper {
        overflow: hidden;
      }
      p {
        font-size: 1.8rem;
        margin: 6px 0;
        font-weight: bold;
        span {
          font-size: 1.2rem;
          background-color: black;
          color: white;
          margin-left: 8px;
          padding: 2px 6px;
        }
      }
      .date {
        font-size: 1.6rem;
        font-weight: normal;
      }
      a {
        img {
          vertical-align: top;
          width: 275px;
          height: 156px;
          object-fit: cover;
          @include zoom;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    padding: 56px 0 56px 16px;
    margin-top: 36px;

    h2 {
      font-size: 4.2rem;
    }
  }
}
//   ■■■■■  ■     ■■  ■■■■■■    ■■■■■  ■    ■■
//  ■■   ■  ■     ■■  ■        ■■   ■  ■   ■■
// ■■       ■     ■■  ■       ■■       ■  ■■
// ■        ■     ■■  ■       ■        ■ ■■
// ■        ■■■■■■■■  ■■■■■■  ■        ■■■■
// ■        ■     ■■  ■       ■        ■■ ■■
// ■■       ■     ■■  ■       ■■       ■   ■
//  ■■   ■  ■     ■■  ■        ■■   ■  ■    ■
//   ■■■■   ■     ■■  ■■■■■■    ■■■■   ■    ■■

.contact-check {
  .container {
    .contact-form {
      .wrapper {
        p {
          width: 100%;
          height: 100%;
        }
        input,
        textarea {
          background-color: #f2f2f2;
        }
        textarea {
          height: 100%;
        }
        .btn {
          background-color: #0db801;
        }
      }
    }
    .heading {
      .info {
        .input {
          background-color: #aaaaaa;
        }
        .check {
          background-color: black;
        }
      }
    }
  }
}
// ■■■■■■■■ ■     ■■    ■■    ■■    ■■  ■    ■■  ■■■■
//    ■     ■     ■■    ■■    ■■■   ■■  ■   ■■  ■   ■■
//    ■     ■     ■■   ■■ ■   ■ ■   ■■  ■  ■■   ■
//    ■     ■     ■■   ■  ■   ■  ■  ■■  ■ ■■    ■■■
//    ■     ■■■■■■■■   ■  ■■  ■  ■■ ■■  ■■■■      ■■■
//    ■     ■     ■■  ■■■■■■  ■   ■ ■■  ■■ ■■       ■■
//    ■     ■     ■■  ■    ■  ■    ■■■  ■   ■        ■
//    ■     ■     ■■ ■■    ■■ ■    ■■■  ■    ■  ■   ■■
//    ■     ■     ■■ ■      ■ ■     ■■  ■    ■■  ■■■■
.contact.contact-thanks {
  height: 600px;
  .container {
    .contact-form {
      .wrapper {
        p {
          height: 100%;
        }
        input,
        textarea {
          background-color: #f2f2f2;
        }
        textarea {
          height: 100%;
        }
        .btn {
          background-color: #0db801;
        }
      }
    }
    .heading {
      .info {
        .input {
          background-color: #aaaaaa;
        }
        .thanks {
          background-color: black;
        }
      }
    }
  }
}

// 共通フッターをmixinで管理
// =========================
@include footer;
// =========================
